@media (min-width:320px) and (max-width:480px) {

    /* navbar */

    .navbar-section {
        display: none;
    }

    .mobile-navbar-section {
        display: block;
        padding: 10px 0;
    }

    .mobile-navbar-section ul {
        display: flex;
        padding: 0;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-navbar-section li:first-child {
        color: #ffbd39;
        font-size: 22px;
        font-weight: 800;
        letter-spacing: 1px;
        margin: 0;
        padding: 0;
    }

    .mobile-navbar-section li {
        color: #ffbd39;
    }

    .offcanvas {
        max-width: 65%;
        padding: 20px 15px;
        background-color: #212222;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .offcanvas .offcanvas-title {
        color: #ffbd39;
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 1px;
    }

    .offcanvas .btn-close {
        background-color: transparent;
        border-radius: 99px;
        font-size: 12px;
    }

    .offcanvas .offcanvas-body {
        margin-top: 50px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }

    .offcanvas-body .offcanvas-items ul {
        line-height: 40px;
        padding: 0 0.5rem;
        list-style: none;
    }

    .offcanvas-body .offcanvas-items li {
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: 2px;
        font-size: 18px;
        color: #fff;
        transition: transform 0.3s ease;
        transform: scale(1);
    }

    .offcanvas-body .offcanvas-items li:hover {
        color: #ffbd39;
        transform: scale(1.05);
    }

    .offcanvas-body .social-media-icons ul {
        padding: 0;
        list-style: none;
        display: flex;
        gap: 5px;
        margin: 0;
    }

    .offcanvas-body .social-media-icons li {
        width: 37px;
        height: 37px;
        border-radius: 99px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        transition: transform 0.3s ease;
        background-color: #212222;
        border: 1px solid #ffffff23;
        color: #ffbd39;
        cursor: pointer;
        transition: transform 0.3s ease;
        transform: scale(1);
    }

    .offcanvas-body .social-media-icons li:hover{
        background-color: #ffbd39;
        color: #212222;
        transform: scale(1.05);
    }

    /* home */
    .home-section {
        display: none;
    }

    .mobile-home-section {
        display: block;
        padding: 0;
        position: relative;
        width: 100%;
    }


    .mobile-home-section .home-person-image {
        height: 700px;
        width: 100%;
    }

    .mobile-home-section .home-person-image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }


    .mobile-home-section .contents {
        position: absolute;
        bottom: -20px;
        text-align: center;
        padding: 0;

    }

    .mobile-home-section .contents h1 {
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 2px;
        color: #ffbd39;
        text-transform: uppercase;
        margin: 0;
    }

    .mobile-home-section .contents h2 {
        font-size: 52px;
        font-weight: 800;
        letter-spacing: 2px;
        color: #ededed;
        margin: 0;
    }

    .mobile-home-section .contents h2 span {
        color: #ffbd39;
    }

    .mobile-home-section .contents p {
        font-size: 20px;
        margin: 0;
        color: #ededed;
        font-weight: 700;
    }

    .mobile-home-section .contents .button-container {
        padding-top: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
    }

    .mobile-home-section .contents .button-container .btn1 {
        margin-right: 10px;
        text-transform: capitalize;
        padding: 10px 30px;
        font-size: 14px;
        letter-spacing: 1px;
        background-color: #ffbd39;
        border: 1px solid transparent;
        color: #000;
        font-weight: 600;
        border-radius: 10px;
        text-decoration: none;
    }

    .mobile-home-section .contents .button-container .btn {
        margin-right: 10px;
        text-transform: capitalize;
        padding: 10px 30px;
        font-size: 14px;
        letter-spacing: 1px;
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        font-weight: 600;
        border-radius: 10px;
        text-decoration: none;
    }

    .mobile-home-section .contents .button-container .btn1:hover {
        background-color: transparent;
        border: 1px solid #fff;
        color: #ffbd39;
    }

    .mobile-home-section .contents .button-container .btn:hover {
        background-color: #ffbd39;
        color: #000;
        border: 1px solid transparent;
    }

    .mobile-home-section .contents .social-media-icons ul {
        position: fixed;
        right: 15px;
        top: 40%;
        list-style-type: none;
        color: #ededed;
        line-height: 30px;
        padding: 0;
    }

    .mobile-home-section .contents .social-media-icons li {
        background-color: transparent;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
        font-size: 20px;
        transition: transform 0.3s ease;
        border: 2px solid #ffffff23;
        color: #fff;
    }

    .mobile-home-section .contents .social-media-icons li:hover {
        transform: scale(1.1);
        border: 2px solid #ffbd39;
        color: #ffbd39;
    }

    /* about */

    .about-section {
        padding: 100px 0 0 !important;
    }

    .about-section .container-fluid {
        margin: 0;
    }

    .about-section .col-md-5{
        display: none;
    }

    .about-section .col-md-7 {
        padding: 0 !important;
    }

    .about-section .col-md-7 h2 {
        display: none;
    }

    .about-section ul li span:first-child {
        width: 100px;
    }

    .about-section ul li span {
        font-size: 14px;
    }

    .about-section h1 {
        font-size: 25px !important;
        margin-bottom: 20px;
    }

    .about-section p {
        font-size: 14px !important;
        text-align: justify;
    }

    .about-section .about-button button {
        width: 100%;
        font-size: 14px;
    }

    /* resume */

    .resume-section {
        padding: 100px 0 0;
    }

    .resume-section h1 {
        font-size: 25px;
    }

    .resume-section .container ul {
        gap: 20px !important;
        padding: 0 !important;
    }

    .resume-section .container li {
        font-size: 18px !important;
    }

    .resume-section .education-cards .card h3 {
        font-size: 15px;
    }

    .resume-section .education-cards .card h5 {
        font-size: 20px;
    }

    .resume-section .education-cards .card h6 {
        font-size: 11px;
    }

    .resume-section .education-cards .card p {
        font-size: 14px !important;
        text-align: justify;
    }

    .resume-section .education-cards .card {
        height: 240px;
    }

    .resume-section .experience-cards .card {
        height: 770px !important;
    }

    .resume-section .experience-cards .card h3 {
        font-size: 15px;
    }

    .resume-section .experience-cards .card h5 {
        font-size: 20px;
    }

    .resume-section .experience-cards .card h6 {
        font-size: 11px;
    }

    .resume-section .experience-cards .card ul {
        padding: 0 10px;
    }

    .resume-section .experience-cards .card li {
        font-size: 14px;
    }


    /* service */

    .services-section {
        padding: 50px 0 0 !important;
    }

    .services-section h1 {
        font-size: 25px;
    }

    .services-section .service-cards {
        padding-top: 40px;
    }

    .services-section .service-cards .service-item {
        padding: 40px;
    }

    .services-section .service-cards .service-item .content h5 {
        font-size: 17px;
    }


    /* skills */

    .skills-section {
        padding: 50px 0 0 !important;
    }

    .skills-section .skills-bars {
        padding-top: 50px;
    }

    .skills-section h1 {
        font-size: 25px;
    }

    .skills-bars .bar {
        width: 100%;
        height: 15px;
    }

    .skills-bars li h5 {
        font-size: 17px;
    }

    /* works */

    .works-section {
        padding: 50px 0 0 !important;
    }

    .works-section .work-slider {
        padding-top: 50px;
    }

    .works-section h1 {
        font-size: 25px;
    }

    .work-card .title {
        font-size: 17px;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .works-section .work-slider .slick-slide {
        padding: 0 5px;
    }

    .work-card .title span {
        width: 28px;
        height: 25px;
    }

    .work-card button{
        font-size: 14px;
    }

    /* modal */

    .header .title h4 {
        font-size: 19px;
        margin: 0;
    }

    .modal-body p {
        padding-top: 20px;
    }

    /* freelance section */

    .freelance-section {
        padding: 50px 0 0;
    }

    .freelance-section .freelance-contents h2 {
        font-size: 25px;
    }

    .freelance-section .freelance-contents {
        position: absolute;
        top: 35%;
        left: 0%;
        right: 0%;
    }

    .freelance-section .freelance-image img {
        object-fit: cover;
    }

    .freelance-section .freelance-contents button{
        font-size: 14px;
    }

    /* contact */

    .contact-section {
        padding: 50px 0 0;
    }

    .contact-section h1 {
        font-size: 25px;
    }

    .contact-section p{
        font-size: 16px;
    }

    .contact-section .contents ul {
        padding: 0;
    }

    .contact-section .contents li {
        padding: 30px 20px;
        font-size: 13px;
    }

    .contact-section .contents li .icon {
        margin-right: 10px;
        font-size: 20px;
    }

    .contact-section .contact-icons {
        margin: 0;
    }

    .contact-section .contact-icons ul {
        margin-top: 30px;
    }


    .contact-section .contact-card .container {
        padding: 0 !important;
    }

    .contact-section .contact-card button {
        font-size: 14px;
    }

    .contact-section .contact-card h2 {
        font-size: 30px;
    }

    .contact-section .contact-card p {
        font-size: 14px !important;
        text-align: justify;
    }

    .contact-section .contact-input {
        margin-top: 30px;
    }

    .contact-section .contact-card button {
        width: 100%;
        font-size: 14px;
    }

    /* footer */

    .footer-section {
        padding: 50px 0 !important;
    }

    .footer-section .footer-contents .footer-about p {
        font-size: 14px !important;
        text-align: justify;
    }

    .footer-section .footer-contents .footer-about h3 {
        margin-bottom: 25px;
    }

    .footer-section .footer-contents .footer-about ul {
        margin-top: 30px;
    }

    .footer-section .footer-contents .links-footer h3 {
        margin: 25px 0;
        font-size: 20px;
    }

    .footer-section .footer-contents .services-footer h3 {
        font-size: 20px;
    }

    .footer-section .footer-contents .question-footer h3 {
        font-size: 20px;
    }

    .footer-section .footer-contents .links-footer li {
        font-size: 16px;
    }

    .footer-section .footer-contents .services-footer li {
        font-size: 16px;
    }

    .footer-section .footer-contents .question-footer li {
        font-size: 16px;
    }

    .footer-section .footer-contents .copyright-footer {
        font-size: 15px;
    }

}

/* tablet responsive */

@media (min-width:480px) and (max-width:768px) {
    .navbar-section .navbar-nav {
        gap: 30px;
        padding: 10px 30px;
        background-color: black;
    }

    .home-section {
        height: 400px;
    }

    .home-section .contents h2 {
        font-size: 40px !important;
    }

    .home-section .container .contents p {
        font-size: 20px !important;
    }

    .home-section .container .contents .button-container .btn1 {
        padding: 10px;
        width: 30%;
    }

    .home-section .container .contents .button-container .btn1 {
        padding: 10px;
        width: 30%;
    }

    .home-section .contents .social-media-icons ul {
        position: fixed;
        right: 15px;
        top: 40%;
    }

    /* resume section */

    .resume-section .education-cards .card {
        height: 280px;
    }

    /* freelance */

    .freelance-section .freelance-contents {
        position: absolute;
        top: 25%;
        left: 15%;
    }

    /* footer */

    .footer-section .footer-contents .footer-about h3,
    .footer-section .footer-contents .links-footer h3,
    .footer-section .footer-contents .services-footer h3,
    .footer-section .footer-contents .question-footer h3 {
        font-size: 24px;
    }

    .footer-section .footer-contents .footer-about p {
        font-size: 16px;
    }

    .footer-section .footer-contents .footer-about li {
        height: 40px;
        width: 40px;
    }

    .footer-section .footer-contents .links-footer li,
    .footer-section .footer-contents .services-footer li,
    .footer-section .footer-contents .question-footer li {
        font-size: 17px;
    }

    .footer-section .footer-contents .question-footer li span {
        margin-right: 5px;
    }

}


/* small laptop responsive */


@media (min-width: 768px) and (max-width: 1280px) {
    .app {
        padding: 0 50px !important;
        overflow-x: hidden;
    }

    .home-section .contents h2 {
        font-size: 65px;
    }

    .home-section .home-contents-with-image .contents p {
        font-size: 29px;
        width: 90%;
    }

    .about-section .col-md-7 h2 {
        width: 96%;
    }


    /* footer */

    .footer-section .footer-contents .question-footer h3,
    .footer-section .footer-contents .footer-about h3,
    .footer-section .footer-contents .links-footer h3,
    .footer-section .footer-contents .services-footer h3 {
        font-size: 23px;
    }

    .footer-section .footer-contents .footer-about p,
    .footer-section .footer-contents .links-footer li a,
    .footer-section .footer-contents .services-footer li,
    .footer-section .footer-contents .question-footer li {
        font-size: 14.4px;
    }

    .footer-section .footer-contents .footer-about li {
        font-size: 18px;
        height: 35px;
        width: 35px;
        padding: 3px;
    }

    .footer-section .footer-contents .question-footer li span {
        margin-right: 5px;
    }

}